<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 加载属性配置文件 ,除了使用resource属性指定外，还可通过url属性指定url  -->
	<!--ps:竟然读取不到外部文件的属性，不知道什么鬼原因，算了，写在这里算了  -->
	<properties>
		<property name="jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
		<property name="jdbc.url" value="jdbc:mysql://127.0.0.1:3306/dataagg?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
		<property name="jdbc.username" value="root"/>
		<property name="jdbc.password" value="root"/>
	</properties>
	
	
	<!-- 配置数据源 -->
    <environments default="development">
        <environment id="development">
        <!-- jdcb事务管理 -->
            <transactionManager type="JDBC" />
            <!-- 数据库连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}" />
                <!-- 这个连接字符串有点扯，得研究一下后面参数都是些啥子鬼，而且&号得用转义字符来代替 &amp -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>
    
    <!-- 加载映射文件 -->
    <mappers>
    	<!-- 正常通过文件名来加载 -->
        <!-- <mapper resource="mapper/userDaoMapper.xml"/> -->
        
        <!--使用接口加载映射文件
        1.接口的java文件和xml文件必须同名
        2.接口的java文件和xml文件必须在同一个目录下
        3.此方法必须使用mapper代理dao的方式才能进行使用
          -->
        <!-- <mapper class="mapper.userDao"></mapper>-->
        
        
        <!-- 批量加载接口映射文件，使用包名,mybatis自动扫描该包下面的所有mapper接口 
        
        1.接口的java文件和xml文件必须同名
        2.接口的java文件和xml文件必须在同一个目录下
        3.此方法必须使用mapper代理dao的方式才能进行使用-->
        <package name="dao"></package>
    </mappers>
</configuration>